#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img {
  width: 600px;
  height: 400px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.single-tour {
  background: #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 1px 5px 11px 0px rgb(0 0 0 / 50%);
}

.tour-info {
  max-width: 600px;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding-bottom: 1.4rem;
}

.tour-info h4 {
  margin: 0;
}

.tour-info p {
  width: 90%;
  text-align: left;
  margin: 0 auto;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.tour-info .tour-price {
  color: #2a62fb;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.principal-info {
  display: flex;
  justify-content: space-between;
  padding: 1.4rem;
}

.single-tour .read-more-btn {
  border: none;
  cursor: pointer;
  color: #2a62fb;
  font-size: 1rem;
}

.single-tour .read-more-btn:hover {
  color: #0404ff;
}

.single-tour .delete-btn {
  width: 40%;
  margin: 0 auto;
  border-radius: 8px;
  padding: 10px 5px;
  border: 2px solid #6b0d0d;
  color: #6b0d0d;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.single-tour .delete-btn:hover {
  background: #6b0d0d;
  color: #fff;
}
